---
layout: compress
---
<!DOCTYPE html>
{% include metadata %}
{% include head.html %}

<body>
  {% include header.html %}

  <section class="main home">
    {% if work %}
    <div class="page-cover">
      <div class="home-heading-creators">{{creators-line}}</div>
      <p><a href="{{work-url-contents-directory}}/{{web-start-page}}">Read the book</a></p>
    </div>
    <article class="content cover-content">
      <p>{{project-version}} — {{work.description.full}}</p>
      
      {{content}}
    </article>

    {% else %}
    <div class="page-cover">
      <h1>{{ project-name }}</h1>
      <div>{{ project-description }}</div>
    </div>

    <article class="content cover-content">
      {{content}}
    </article>

    {% endif %}
  </section>
  <script>
    document.getElementById("open-nav").addEventListener("click", function () {
      document.body.classList.toggle("nav-open");
    });
  </script>
</body>
</html>
